/* styles.css */

body { font-family: sans-serif; font-size: 11px}

ul {position:fixed; right:118px; top:31px; list-style-type: none;}
li {margin-bottom:16px;}
button { outline: 0; border: 2px solid #fff0; height:38px; background-color:transparent;}
button:hover{ border: 2px solid #eee; }
button.active{ border: 2px solid #ca0; }

.sidebar {z-index:1; height:100%; position:fixed; right:0px; width:360px; background-color:#fff; border-left: solid 1px lightgray;}

.viewbar {	position: fixed; bottom: -50px; left: 160px; border: 1px solid #ddd; border-radius: 25px; margin-bottom:60px;}
.viewbar button { border-radius:25px; height:25px;}

.interiorbar {
	width:57px;
	height:57px;
	margin-bottom: 30px;
}

.grillbar {
	background-image: url(../img/grill-icons.png);
    background-position: 0px 0px;
    background-size: 180px 36px;
    width:40px;
    margin-bottom: 40px;
}

.colorbar button {
	width:30px;
	height:30px;
	margin:1px;
}